.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 224, 224);
    z-index: 100;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px; 
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 470px;
    display: flex;
    align-items: center;
}
.search-button{
    height: 40px;
    width: 65px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192,192,192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}
.search-button,
.voice-search-button,
.notification-icon-container,
.upload-icon-container,
.ytapps-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.ytapps-icon-container .tooltip,
.notification-icon-container .tooltip{
    position: absolute; 
    background-color: rgb(92, 92, 92);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.ytapps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 0.95;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(247, 246, 246);
    position: relative;
}
.search-icon{
    height: 25px;
}
.voice-search-icon{
    height: 23px;
}
.search-bar{
    flex: 1;
    height: 36px;
    width: 0;
    padding-left: 10px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 2px; 
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder{
    font-size: 15px;
}
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
}
.upload-icon, .ytapps-icon, .notification-icon{
    height:25px;
}
.notifications-count{
    position: absolute;
    background-color: rgb(192, 10, 10);
    color: white;
    top: -1px;
    right: -5px;
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.profile-icon{
    height:32px;
    border-radius: 17px;

}
