 p {
    margin-top: 0;
    margin-bottom: 0;
    }
.thumbnail{
    width: 100%;
}
.video-author, .video-stats{
    font-size:12px;
    color:rgb(96,96,96);
}
.video-author{
    margin-bottom: 4px;
}
.video-title{
    margin-top:0px;
    font-size: 14px;  
    font-weight: 500;  
    line-height: 20px;
    margin-bottom: 10px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
@media (max-width: 870px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 871px) and (max-width: 1124px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1125px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-info-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
}
.profile-pic{
    width: 36px;
    border-radius: 36px;
}
.thumbnail-row{
    margin-bottom:8px;
    position: relative;
}
.video-time{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color:white;
    position: absolute;
    right: 5px;
    bottom: 8px;
}
.channel-pic-container{
    position: relative;
}
.channel-pic-container:hover .zoom-info{
    opacity: 1;
}
.zoom-info{
    position: absolute;
    top: 45px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 220px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(15, 14, 14, 0.30);
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.zoom-profile-pic{
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}
.zoom-channel-name{
    font-weight:700;
    font-size: 18px;
}
.zoom-subscribers{
    color: rgb(116, 116, 116);
    margin-top: 5px;
}