 p {
    margin-top: 0;
    margin-bottom: 0;
    }
.thumbnail{
    width: 100%;
}
.video-author, .video-stats{
    font-size:12px;
    color:rgb(96,96,96);
}
.video-author{
    margin-bottom: 4px;
}
.video-title{
    margin-top:0px;
    font-size: 14px;  
    font-weight: 500;  
    line-height: 20px;
    margin-bottom: 10px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
@media (max-width: 870px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 871px) and (max-width: 1124px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1125px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-info-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
}
.profile-pic{
    width: 36px;
    border-radius: 36px;
}
.thumbnail-row{
    margin-bottom:8px;
    position: relative;
}
.video-time{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color:white;
    position: absolute;
    right: 5px;
    bottom: 8px;
}